<form>
	<label>Логин входа:</label><input type="text" ng-model="_user.profile.login" /><br />
	<label>Логин код активации:</label><input type="text" ng-model="_user.profile.activate" /><br />
	<label>Имя:</label><input type="text" ng-model="_user.profile.name" /><br />
	<label>Роли:</label><input type="text" ng-model="_user.profile.roles" /><br />
	<label>Пароль:</label><input type="text" ng-model="_user.profile.pass" /><br />
	<input type="text" ng-model="_user.profile.repass" /><br />
	<button ng-click="saveUser()">Сохранить</button>
</form>