<div class="admin-wrapper" ng-show="editState">
	<form id="articleEdit">
		<div class="row">
			<label>Заголовок:</label> <input class="title" ng-model="newarticle.data.title">
		</div>
		<div class="row">
			<label>Картинка - превью:</label> <input type="file" ng-file-select ng-model="mainpic" ng-change="minepicUpload()">
			<img ng-src="{{newarticle.data.mainpic}}"/>
		</div>
		<div class="row">
			<label>Тип документа:</label> <input class="type" ng-model="newarticle.data.type"> <span>news, article, static</span>
		</div>
		<div class="row">
			<label>Вступительный текст:</label> <textarea class="short-text" ng-model="newarticle.data.short_text"></textarea>
		</div>
		<div class="row">
			<textarea class="editor"></textarea>
		</div>
		<div class="row">
			<label>Картинки для вставки:</label> <input type="file" ng-file-select ng-model="insertpic" ng-change="insertpicUpload()">
			<ul>
				<li ng-repeat="pic in newarticle.data.pics" ng-click="insertPicToDoc(pic)"><img ng-src="{{pic}}"/></li>
			</ul>
		</div>
		<div class="row">
			<a class="btn save" ng-click="closeEdit(true)">Сохранить</a><a class="btn save" ng-click="closeEdit()">Отмена</a>
		</div>
	</form>
</div>
<div class="admin-wrapper" ng-show="!editState">
	<a ng-click="addArticle()">Добавить</a>
	<div class="user-list">
			<ul class="u-list">
				<li class="u-item" ng-repeat="article in articles.list" ng-click="editArticle($event)"> 
					<span class="label login">Title: <span class="" ng-bind="article.data.title"></span></span>
					<span class="label login" ng-click="removeArticle($event)">Х</span>
				</li>
			</ul>
		</div>
</div> 